
.navbar-brand
{
   font-family: 'Ubuntu', sans-serif;
   font-size: 2rem;
   width: 40%;
   
}
.navebar-light
{
   color: cornflowerblue;
}
#title{
   background-color:#726a95;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: black;
}
.navbar{
   padding:0 0 4.5rem;

}
.nav-item
{
   padding: 0 18px;

}
.nav-link
{
   font-size: 1.2rem;
   font-family:'Ubuntu', sans-serif;
}
h1
{
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
   line-height:1.5;
   
   
}
.container-fluid
{
   padding:3% 15%;
   font-size: 1rem;
   
   
   
}
.maintitle
{
   margin-top: 0px;

   color: seashell;
}
.dogimg{
   width: 60%;
   transform:rotate(25deg);
   position: absolute;
   margin-left: 20%;
   

}
#features
{
   
   background-color:white;
   position: relative;
   margin-bottom: 30px;
   
}
h2{
   font-size: 3rem;
   line-height:1.5 ;
   font-family: 'Montserrat', sans-serif;
}
h3{
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}

.imgmd{
   text-align: center;

}
.download-button
{
   margin: 5% 3% 5% 0;
}

.icon{
color:#065c6f;
   margin-top: 80px;
   margin-bottom: 6%;
   
}
.icon:hover{
   color:#71c9ce;
}
   
.d-img{
   margin-top: 80px;
   margin-bottom: 6%;
}
.go{
   margin-top: 80px;
   margin-bottom: 0px;
}

.mo{
   margin-top: 50px;
   margin-bottom: 6%;
}
.ca{
   margin-top: 97px;
   margin-bottom: 6%;
}
.map{
   margin-top: 50px;
   margin-bottom: 6%;
}
#testimonials{
   text-align: center;
   background-color:#71c9ce;
  color: white;
  
}
#carousel-testimonials
{
   padding: 7% 15%;
}
.dogimg2{
   width:10%;
   border-radius:100%;
   margin: 20px;
}
#press
{
   text-align: center;
   background-color:#726a95;
   padding:3%;
   padding-top:7%;
   padding-bottom:8%;
   
}
.pricing
{
   padding: 100px;
   text-align: center;
}
.ha{
   text-align: center;
}

.pa{
   text-align: center;
   padding: 0;
}

#cta{
   text-align: center;
background-color:#726a95;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 7% 15%;
text-shadow: black;
}
.sta{
   padding-top: 50px;
   padding-bottom: 40px;
   font-size:3.5rem;
   line-height: 3.5rem;
   color: white;
   font-family: 'Acme', sans-serif;
}
#footer{
   text-align: center;
   padding-top: 59px;
   padding-bottom: 30px;
   
}
.container-fluid{
   padding:3% 15% 10%;
}
.td{
   margin: 20px 10px;
}
@media (max-width:1028px)
{
   .dogimg{
      text-align:center;
      position: static;
      transform:rotate(0);
      margin-left: 0%;
   }
   #title{
      text-align:center ;
   }
}

hr
{
   border: dotted #eaf6f6 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto;
}




.skill-row
{
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   
}

.code-img
{
   width: 25%;
   float: left;
   margin-right: 30px;
}
.chilli-img
{
   width: 25%;
   float: right;
   margin-left: 30px;
}

p
{
   line-height: 2;
}
.Middle-container
{
   margin: 100px 0;
}


body
{
    margin: 0;
    color: #40514e;
    text-align: center;
}
